<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaozhang.devicemanagesystem.server.mapper.UserMapper">
    <select id="pageQuery" parameterType="com.xiaozhang.devicemanagesystem.pojo.dto.UserPageQueryDTO"
            resultType="com.xiaozhang.devicemanagesystem.pojo.vo.UserVO">
        select * from v_user
        <where>
            <if test="username != null and username !=''">
                and username like concat("%",#{username},"%")
            </if>
            <if test="deptId != null and deptId != ''">
                and dept_id = #{deptId}
            </if>
        </where>
        order by create_time desc
    </select>

    <update id="update" parameterType="com.xiaozhang.devicemanagesystem.pojo.entity.User">
        update user
            <set>
                <if test="code != null and code != ''">
                     code = #{code},
                </if>
                <if test="username != null and username != ''">
                    username = #{username},
                </if>
                <if test="password != null and password != null">
                    password = #{password},
                </if>
                <if test="type != null and type != ''">
                    type = #{type},
                </if>
                <if test="deptId != null and deptId != ''">
                    dept_id = #{deptId},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null ">
                    update_time = #{updateTime}
                </if>
            </set>
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
        </where>
    </update>

</mapper>